*	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	}

.wrap {
	max-width: 76.286em;
    margin: 0 auto;
    padding: 0 5%;
}

header {
	font-family: 'Open Sans', sans-serif;
	font-size: 3em;
	letter-spacing: -5px;
	line-height: 0.8;
	margin-bottom: 1em;
}

main	{
	margin: 2em 10% 0 10%;
}

#weather	{
	font-style: italic;
}

img	{
	max-width: 100%;
	border: silver 0.5em solid;
}

cite	{
	font-size: small;
	display: block;
}